@model IEnumerable<DataLayer.Sp_QuestionList_Result>

@{
    Layout = null;
    ViewBag.Title = "Home Page";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Questions Page</title>

    <!-- Web Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap"
          rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
          rel="stylesheet" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.css"
          rel="stylesheet" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <link rel="stylesheet"
          href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.css"
          integrity="sha256-zuyRv+YsWwh1XR5tsrZ7VCfGqUmmPmqBjIvJgQWoSDo="
          crossorigin="anonymous" />
    <!-- simple scrollbar-->
    <link rel="stylesheet"
          href="https://unpkg.com/simplebar@latest/dist/simplebar.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="~/css/style-questionnaire.css" />
</head>
<body class="inner-page">
    <header>
        <nav class="navbar navbar-expand-lg navbar-light  fixed-top top-navbar">
            <a class="navbar-brand" href="#">
                <img src="~/images/inomi-logo.png" class="inomi-logo" alt="inomi logo" />
            </a>
            <button class="navbar-toggler"
                    type="button"
                    data-toggle="collapse"
                    data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse top-nav-content"
                 id="navbarSupportedContent">
                <ul class="nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown">
                            <div class="d-inline-block align-middle">
                                <span class="bold-fonts">@FormsAuthentication.Decrypt(Request.Cookies[FormsAuthentication.FormsCookieName].Value).Name</span>
                                <br />
                                <span>Student</span>
                            </div>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link dropdown-toggle" href="/LoginQuestionnaire/LogOut" id="navbarDropdown">
                            <i class="material-icons">
                                power_settings_new
                            </i>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>
    <div class="wrapper mb-5">
        <div class="content mt-cmn" id="content">
            <div class="container-fluid">
                <div class="question-selections-cover">
                    <table class="table questiontable" id="tblSelectQuestion">
                        <thead>
                            <tr>
                                <div class="top">
                                    <h2>Select Questions</h2>
                                    <p>Selected Questions (<span id="questionselected">0</span>)</p>
                                </div>
                            </tr>
                        </thead>
                        <tbody class="questions-box-cover" data-simplebar>
                            @{
                                int i = 1;
                            }
                            @foreach (var item in Model)
                            {
                                var id = "slider" + i;
                                <tr class="questions-box">
                                    <td>
                                        <p>
                                            Q @i. @Html.DisplayFor(modelItem => item.Question)
                                        </p>
                                    </td>
                                    <td>
                                        <label class="switch" id="@id">
                                            <input type="checkbox" />
                                            <span class="slider round"></span>
                                        </label>
                                    </td>
                                    <td style="display:none;">
                                        <input type="hidden" id="QuestionId" value="@item.Id" />
                                        <input type="hidden" id="SubStrengthId" value="@item.SubStrengthId" />
                                        <input type="hidden" id="SubStrengthValue" value="@item.SubStrength" />
                                    </td>
                                </tr>
                                i = i + 1;
                            }
                        </tbody>
                    </table>
                    <div class="instructions">
                        <h2>Instructions</h2>
                        <p>
                            Figure out your “Signature Styles” Here is a list of ordinary
                            activities from everyday life. As you read through each
                            statement,make a quick assessment about whether it is something
                            you enjoy doing or are good at doing, and mark it on this simple
                            scale:
                        </p>
                        <div class="button-value">
                            <div class="first-box">
                                <img src="~/images/red-toggle.svg" alt="green toggle" />
                                <p>Doesn't sounds like me</p>
                            </div>

                            <div class="second-box">
                                <img src="~/images/green-toggle.svg" alt="green toggle" />
                                <p>Sounds like me</p>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex mt-3">
                        <button class="btn btn-info button bg-button login-button"
                                type="button"
                                id="Next">
                            NEXT
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer>
        <p>inomi © <label id="year">2019</label> All rights reserved.</p>
    </footer>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- simple scrollbar-->
    <script src="https://unpkg.com/simplebar@latest/dist/simplebar.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-sweetalert/1.0.1/sweetalert.min.js"
            integrity="sha256-JirYRqbf+qzfqVtEE4GETyHlAbiCpC005yBTa4rj6xg="
            crossorigin="anonymous"></script>
    <script src="~/Js/Js.js"></script>
    <script>
        $(document).ready(function (e) {
            var d = new Date();
            var year = d.getFullYear();
            $("#year").text(year);

        });
    </script>
</body>
</html>

