@model Inomi.Models.Student.Dashboard

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
<script type="text/javascript" src="https://cdn.datatables.net/1.10.20/js/jquery.dataTables.min.js"></script>
<link href="~/Content/Site.css" rel="stylesheet" type="text/css" />

<script src="~/Scripts/modernizr-2.8.3.js"></script>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<style type="text/css">
    .nik {
        border: 1px solid red;
    }
</style>
<div id="page-content-wrapper">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12 content-width dashboard">
                <div class="row">
                    <h2 class="col-md-12">Deadline Essay</h2>
                </div>
            </div>
        </div>


        <div class="report-details">
            @*<h2>Deadlines</h2>*@
        </div>
        <div class="table-responsive" data-simplebar>
            <table id="example" class=" table-striped">
                <thead>
                    <tr>
                        <th scope="col">Sr. No</th>
                        <th scope="col">University/College Name</th>
                        <th scope="col">Essay Topic</th>
                        <th scope="col">Word Count</th>
                        <th scope="col">Deadline</th>
                        <th scope="col">Upload Essay</th>
                        <th scope="col">Latest File</th>
                        <th scope="col">History</th>
                        <th scope="col">Status</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.DeadLineEssay.Select((x, i) => new { Data = x, Index = i + 1 }))
                    {

                    <tr>
                        <td>@item.Index</td>
                        <td>@item.Data.NameOfCollege</td>
                        <td>@item.Data.EssayName</td>
                        <td>@item.Data.WordCount</td>
                        <td>@item.Data.deadline</td>
                        <td>
                            @if (@item.Data.Status == "2")
                            {
                                <button type="button" class="btn blue-btn" id="@item.Data.ID">
                                    Upload file
                                </button>
                            }
                            else
                            {
                                <button type="button" class="btn blue-btn anchorDetail" id="@item.Data.ID">
                                    Upload file
                                </button>

                            }
                        </td>
                        <td>

                            @if (@item.Data.LatestFile != "-")
                            {
                                
                                <a href="/Student/Download?CurrentFileName=@item.Data.LatestFile">
                                    <span class="text-underline">Latest Files </span>
                                </a>
                                
                               
                            }

                        </td>
                        <td>
                            <a href="javascript:void;"
                               class="view anchorDetail1" id="@item.Data.ID">
                                View
                            </a>
                        </td>
                        @{ if (@item.Data.Status == "0")
                            {
                                <td><span class="status approve">Pending</span></td>
                            }
                            else if (@item.Data.Status == "1")
                            {
                                <td><span class="status approve">Return</span></td>
                            }
                            else if (@item.Data.Status == "2")
                            {
                                <td><span class="status approve">Approved</span></td>
                            }
                            else
                            {
                                <td><span class="status approve"></span></td>
                            }
                        }

                    </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="d-flex mt-2">
            <button type="submit"
                    class="btn blue-btn"
                    onclick="window.location.href = 'Index'">
                Back
            </button>
        </div>
    </div>
</div>



<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

<!-- Upload file Modal-->
<div class="modal fade cmn-modal" id="uploadFileModal">
    <div class="modal-dialog">
        @using (Html.BeginForm("UploadEssay", "Student", FormMethod.Post, new
        { enctype = "multipart/form-data" }))
        {
            <div class="modal-content">
                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Upload Essay</h4>
                    <button type="button" class="close" data-dismiss="modal">
                        <span>x</span>
                    </button>
                </div>

                <!-- Modal body -->
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group col-12">
                            <label>Upload</label>
                            <div class="input-group input-file" name="Fichier1">
                                <input type="text"
                                       class="form-control"
                                       placeholder="Browse File..." />
                                <span class="input-group-btn">
                                    <button class="btn blue-btn btn-choose" type="button">
                                        Upload
                                    </button>

                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                @Html.Hidden("UploadId")
                <!-- Modal footer -->
                <div class="modal-footer">
                    <button type="button" class="btn blue-btn" id="UploadEssaybutton">
                        Add
                    </button>
                </div>
            </div>
        }
    </div>
</div>
<!-- Upload file Modal-->
<!-- View Modal-->
<div class="modal fade cmn-modal" id="viewModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">History</h4>
                <button type="button" class="close" data-dismiss="modal">
                    <span>x</span>
                </button>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
                <div class="row">
                    <div class="form-group col-12">
                        <div class="table-responsive cmn-table deadlines-table"
                             data-simplebar>
                            <table id="example" class="table table-striped">
                                <thead>
                                    <tr>
                                        <th scope="col">Essay Name</th>
                                        <th scope="col">Date</th>
                                    </tr>
                                </thead>
                                <tbody id="myModalContent">
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- View Modal-->
<script src="~/Scripts/Custom/Dashboard.js"></script>